*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    width: 100%;
    height:100vh;
    background: #333;
    font-family: 'Poppins',sans-serif;

}
a{
    text-decoration: none;
    font-weight: bold;
}

header{

    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #f1f1f1;
    text-align: center;
    padding: 5px 0;
}

h1{
    color:#f1f1f1;
    font-size: 3rem;
    margin: 20px auto;
}
.grid{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fit, 450px);
    justify-content: center;
}
.drawingBox{
    background: #c775b2;
    margin: 15px;
    box-shadow:0 0 15px #111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box4, .box5 , .box6{
  background-color: #222;
  border:15px solid #c775b2;
}

/* case 1 Animation carte-coeur */

.heart-card{
    width: 0;
    height: 0;
    border-top: 100px solid #eee;
    border-right: 170px solid #ddd;
    border-bottom: 100px solid #ccc;
    border-left: 170px solid #ccc;
}

.heart{
    width: 32px;
    height: 32px;
    background: #ff3838;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: heartbeat 1.4s linear infinite;
}

.heart::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff3838;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff3838;
    transform: translateX(-50%);
    border-radius: 50%;
}

@keyframes heartbeat{
    0%{transform: translate(-50%, -50%) rotate(45deg) scale(1)}
    25%{transform: translate(-50%, -50%) rotate(45deg) scale(1)}
    30%{transform: translate(-50%, -50%) rotate(45deg) scale(1.4)}
    50%{transform: translate(-50%, -50%) rotate(45deg) scale(1.2)}
    70%{transform: translate(-50%, -50%) rotate(45deg) scale(1.4)}
    100%{transform: translate(-50%, -50%) rotate(45deg) scale(1)}
}

/* case 2 texte flottant */
h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: arial;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 15px;
    text-shadow: 0 1px 0 #efefef,
                 0 2px 0 #efefef,
                 0 3px 0 #efefef,
                 0 4px 0 #efefef,
                 0 30px 5px rgba(0, 0, 0, .1);
    animation: float 3s linear infinite;
    animation-direction: alternate;
}

@keyframes float{
    from{ transform: rotate(5deg);}
    to{transform: rotate(-5deg);}
}



/* case 3 pulse */

.box3 {
    z-index: -1;
}
.box3 button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.box3 button::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: block;
    position: absolute;
    z-index: -1;
    animation: pulse 1.4s infinite ease-out;
}
  
@keyframes pulse {
    to {
      transform: scale(1.4);
      opacity:0;
    }
}


/* case 4 dé lumineux tournant */

.scene {
    width: 200px;
    height: 200px;
    margin: 100px auto 100px;
    perspective: 2000px;
}
  
.cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 6s infinite linear;
}
  @keyframes spin {
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
  
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 187, 141, 0.7);
    border: 2px solid #fbfbfb;
    border-radius: 40px;
    box-shadow: 0 0 25px #22bb8d;
    padding: 20px;
    align-items: center;
    display: grid;
    grid-template: repeat(3, 55px) / repeat(3, 55px);
    grid-template-areas: 
    "one two tree"
    "four five six"
    "seven height nine";
}

.dot {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fbfbfb;
  box-shadow: 0 0 25px #fbfbfb;
}

.top {
    transform: rotateX(90deg) translateZ(100px);
  }
.top .d-2 {
    grid-area: nine;
}

.bottom {
transform: rotateX(-90deg) translateZ(100px);
}
.bottom .d-2{
    grid-area: tree;
}
.bottom .d-3 {
    grid-area: five;
}
.bottom .d-4 {
    grid-area: seven;
}
.bottom .d-5{
    grid-area: nine;
}


.right {
    transform: rotateY(90deg) translateZ(100px);
}
.right .d-2 {
    grid-area: five;
}
.right .d-3 {
    grid-area: nine;
}


.left {
    transform: rotateY(-90deg) translateZ(100px);
}
.left .d-2{
grid-area: tree;
}
.left .d-3 {
    grid-area: seven;
}
.left .d-4 {
    grid-area: nine;
}



.back {
transform: rotateY(-180deg) translateZ(100px);
}
.back .d-2{
grid-area: tree;
}
.back .d-3 {
grid-area: four;
}
.back .d-4 {
grid-area: six;
}
.back .d-5{
grid-area: seven;
}
.back .d-6 {
grid-area: nine;
}

.front {
transform: translateZ(100px);
}
.front .d-1 {
grid-area: five;
}

/* case 5 effet glitch */

.box5 {
    padding: 70px;
    display: block;
    text-align: center;
}
.glitch-block {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }
  
.glitched-anim,
.invisible-text {
    font-family: Unica One, sans-serif;
    font-size: 150px;
    font-weight: 400;
    line-height: 1.1;
}
  
.glitched-anim {
    position: absolute;
    top: 0;
    opacity: 0.9;
}
  
  .invisible-text {
    visibility: hidden;
}
  
  .glitched-anim:nth-child(2) {
    color: #f03e3e;
    animation: skewAnim 3s infinite;
}
  .glitched-anim:nth-child(3) {
    color: #3df0cf;
    animation: glitchAnim1 3s infinite;
}
  .glitched-anim:nth-child(4) {
    color: #f1f1f1;
    animation: glitchAnim2 3s infinite;
}
  
.txt-info {
    font-family: Open, sans-serif;
    color: #f1f1f1;
    font-size: 15px;
}
  
  @keyframes glitchAnim1 {
    7% {
      transform: none;
    }
    10% {
      transform: translate(6px, -2px);
    }
    13% {
      transform: none;
    }
    20% {
      transform: none;
    }
    23% {
      transform: translate(-12px, -7px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: translate(10px, -9px);
    }
    46% {
      transform: none;
    }
    65% {
      transform: none;
    }
    68% {
      transform: translate(7px, 5px);
    }
    71% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }
  
  
  
  @keyframes glitchAnim2 {
    7% {
      transform: none;
    }
    10% {
      transform: translate(-6px, 2px);
    }
    13% {
      transform: none;
    }
    20% {
      transform: none;
    }
    23% {
      transform: translate(12px, 7px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: translate(-10px, 9px);
    }
    46% {
      transform: none;
    }
    65% {
      transform: none;
    }
    68% {
      transform: translate(-7px, 5px);
    }
    71% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }
  
  
  
  @keyframes skewAnim {
    20% {
      transform: none;
    }
    23% {
      transform: skew(5deg, -5deg) translate(10px, 5px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: skew(5deg, -10deg) translate(-5px, 2px);
    }
    46% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }


  /* case 6 effet néon */

  .box6 {
    position: relative;
  }

  .neon-card {
    min-width: 330px;
    position: relative;
    padding: 20px 20px 40px;
    box-shadow:
    0 0 10vw  0vw #7476ff,   
    0 0   2vw  0.4vw #0408fb,
    
    inset 0 0 .5vw  .2vw #7476ff,
    inset 0 0 0.2vw  0.2vw #3134ff,
    inset 0 0 .25vw  0.2vw #0408fb;
    border-radius: 22px;
}

.neon-card h2, .neon-card span {
  margin-top: 35px;
  margin-left: 60px;
}

.neon-card h2 {

    font-family: Mali, sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #f1f1f1e3;
    text-shadow:
    .1vw 0vw .25vw #bc74ff, 
    .15vw 0vw .25vw #bc74ff, 


    .1vw 0vw  .1vw #b331ff, 
    .15vw 0vw  .1vw #b331ff, 
    .4vw 0vw  .1vw #b331ff,

    .1vw 0vw   2vw #b331ff, 
    .15vw 0vw   2vw #b331ff, 
    .4vw 0vw   2vw #b331ff, 

    .1vw 0vw   1vw #7704fb, 
    .15vw 0vw   1vw #7704fb, 
    .4vw 0vw   5vw #7704fb, 

    .1vw 0vw   5vw #7704fb, 
    .15vw 0vw  20vw #7704fb, 
    .4vw 0vw  10vw #7704fb,
    
    .1vw 0vw  10vw #7704fb, 
    .15vw 0vw  30vw #7704fb, 
    .4vw 0vw  10vw #7704fb;

    animation: blink 2s infinite alternate;
}


.neon-card span {
    font-family: Raleway, sans-serif;
    padding-left: 10px;
    font-size: 27px;
    letter-spacing: 5px;
    color: #f1f1f1cb;
    text-shadow:
    .1vw 0vw .25vw #8bff74, 
    .125vw 0vw .25vw #8bff74, 

    .1vw 0vw  .1vw #8eff31, 
    .125vw 0vw  .1vw #8eff31, 
    .15vw 0vw  .1vw #8eff31,

    .1vw 0vw   2vw #8eff31, 
    .125vw 0vw   2vw #8eff31, 
    .15vw 0vw   2vw #8eff31, 

    .1vw 0vw   1vw #52fb04, 
    .125vw 0vw   1vw #52fb04, 
    .15vw 0vw   5vw #52fb04, 

    .1vw 0vw   5vw #52fb04, 
    .125vw 0vw  20vw #52fb04, 
    .15vw 0vw  10vw #52fb04;

}

.neon-card img {
    position: absolute;
    top: -90px;
    left: -60px;
    width: 220px;
    
    filter: 
    drop-shadow(0 0.15vw 0.30vw #ff0ea3)
    drop-shadow(0 0.15vw 0.30vw #8a428a);
    animation: flamingo-blink 2s infinite alternate;  
}



@keyframes blink {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0   0.5vw #df74ff,
        0.1vw 0 0.5vw #df74ff,
        0.3vw 0 0.5vw #df74ff,
    
        0 0 1.2vw #c531ff,
        0.1vw 0 1.2vw #c531ff,
        0.3vw 0 1.2vw #c531ff,
    
    
        0 0 3vw #ad04fb,
        0.1vw 0 3vw #ad04fb,
        0.3vw 0 3vw #ad04fb;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  @keyframes flamingo-blink {
    0%, 9%, 15%, 79%, 83%, 100%{
  
        filter: 
        drop-shadow(0 0.15vw 0.30vw #ff0ea3)
        drop-shadow(0 0.15vw 0.30vw #8a428a);
    
    }
    
    10%, 14%, 80%, 82% {        
        
        filter: none;
    }  
  }







  