*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    width: 100%;
    height:100vh;
    background: #333;
    font-family: 'Poppins',sans-serif;

}
html{
    font-size: 62.5%;
}
/* a{
    text-decoration: none;
    font-weight: bold;
} */

header{

    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #f1f1f1;
    text-align: center;
    padding: 5px 0;
}

h1{
    color:#f1f1f1;
    font-size: 3rem;
    margin: 20px auto;
}
.grid{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fit, 450px);
    justify-content: center;
}
.drawingBox{
    background: #c775b2;
    margin: 15px;
    box-shadow:0 0 15px #111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* case 1 Animation carte-coeur */

.card{
    width: 0;
    height: 0;
    border-top: 100px solid #eee;
    border-right: 170px solid #ddd;
    border-bottom: 100px solid #ccc;
    border-left: 170px solid #ccc;
}

.heart{
    width: 32px;
    height: 32px;
    background: #ff3838;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: heartbeat 1.4s linear infinite;
}

.heart::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff3838;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff3838;
    transform: translateX(-50%);
    border-radius: 50%;
}

@keyframes heartbeat{
    0%{transform: translate(-50%, -50%) rotate(45deg) scale(1)}
    25%{transform: translate(-50%, -50%) rotate(45deg) scale(1)}
    30%{transform: translate(-50%, -50%) rotate(45deg) scale(1.4)}
    50%{transform: translate(-50%, -50%) rotate(45deg) scale(1.2)}
    70%{transform: translate(-50%, -50%) rotate(45deg) scale(1.4)}
    100%{transform: translate(-50%, -50%) rotate(45deg) scale(1)}
}

/* case 2 texte flottant */
h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: arial;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 15px;
    text-shadow: 0 1px 0 #efefef,
                 0 2px 0 #efefef,
                 0 3px 0 #efefef,
                 0 4px 0 #efefef,
                 0 30px 5px rgba(0, 0, 0, .1);
    animation: float 3s linear infinite;
    animation-direction: alternate;
}

@keyframes float{
    from{ transform: rotate(5deg);}
    to{transform: rotate(-5deg);}
}

/* case 3 carré pivotant */

.loading{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 12px;
    animation: loading 2s linear infinite;
}

@keyframes loading{
    0% {transform: rotateX(0deg) rotateY(0deg);}
    50% {transform: rotateX(0deg) rotateY(180deg);}
    100% {transform: rotateX(180deg) rotateY(180deg);}
}

/* case 4 pulse */

.box3 {
    z-index: -1;
}
.box3 button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.box3 button::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: block;
    position: absolute;
    z-index: -1;
    animation: pulse 1.4s infinite ease-out;
}
  
@keyframes pulse {
    to {
      transform: scale(1.4);
      opacity:0;
    }
}


/* case 4 dé lumineux tournant */

.box4 {
    background-color: #111;
    border:15px solid #c775b2;
}
.scene {
    width: 200px;
    height: 200px;
    margin: 100px auto 100px;
    perspective: 2000px;
}
  
.cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 3s infinite linear;
}
  @keyframes spin {
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
  
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 187, 141, 0.7);
    border: 2px solid #fbfbfb;
    border-radius: 40px;
    box-shadow: 0 0 25px #22bb8d;
    padding: 20px;
    align-items: center;
    display: grid;
    grid-template: repeat(3, 55px) / repeat(3, 55px);
    grid-template-areas: 
    "one two tree"
    "four five six"
    "seven height nine";
}

.dot {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fbfbfb;
  box-shadow: 0 0 25px #fbfbfb;
}

.top {
    transform: rotateX(90deg) translateZ(100px);
  }
.top .d-2 {
    grid-area: nine;
}

.bottom {
transform: rotateX(-90deg) translateZ(100px);
}
.bottom .d-2{
    grid-area: tree;
}
.bottom .d-3 {
    grid-area: five;
}
.bottom .d-4 {
    grid-area: seven;
}
.bottom .d-5{
    grid-area: nine;
}


.right {
    transform: rotateY(90deg) translateZ(100px);
}
.right .d-2 {
    grid-area: five;
}
.right .d-3 {
    grid-area: nine;
}


.left {
    transform: rotateY(-90deg) translateZ(100px);
}
.left .d-2{
grid-area: tree;
}
.left .d-3 {
    grid-area: seven;
}
.left .d-4 {
    grid-area: nine;
}



.back {
transform: rotateY(-180deg) translateZ(100px);
}
.back .d-2{
grid-area: tree;
}
.back .d-3 {
grid-area: four;
}
.back .d-4 {
grid-area: six;
}
.back .d-5{
grid-area: seven;
}
.back .d-6 {
grid-area: nine;
}

.front {
transform: translateZ(100px);
}
.front .d-1 {
grid-area: five;
}

/* case 5 effet glitch */

.box5 {
    background-color: #111;
    border: 15px solid #c775b2;
    padding: 70px;
    display: block;
    text-align: center;
}
.glitch-block {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }
  
.glitched-anim,
.invisible-text {
    font-family: Unica One, sans-serif;
    font-size: 150px;
    font-weight: 400;
    line-height: 1.1;
}
  
.glitched-anim {
    position: absolute;
    top: 0;
    opacity: 0.9;
}
  
  .invisible-text {
    visibility: hidden;
}
  
  .glitched-anim:nth-child(2) {
    color: #f03e3e;
    animation: skewAnim 3s infinite;
}
  .glitched-anim:nth-child(3) {
    color: #3df0cf;
    animation: glitchAnim1 3s infinite;
}
  .glitched-anim:nth-child(4) {
    color: #f1f1f1;
    animation: glitchAnim2 3s infinite;
}
  
.txt-info {
    font-family: Open, sans-serif;
    color: #f1f1f1;
    font-size: 15px;
}
  
  @keyframes glitchAnim1 {
    7% {
      transform: none;
    }
    10% {
      transform: translate(6px, -2px);
    }
    13% {
      transform: none;
    }
    20% {
      transform: none;
    }
    23% {
      transform: translate(-12px, -7px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: translate(10px, -9px);
    }
    46% {
      transform: none;
    }
    65% {
      transform: none;
    }
    68% {
      transform: translate(7px, 5px);
    }
    71% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }
  
  
  
  @keyframes glitchAnim2 {
    7% {
      transform: none;
    }
    10% {
      transform: translate(-6px, 2px);
    }
    13% {
      transform: none;
    }
    20% {
      transform: none;
    }
    23% {
      transform: translate(12px, 7px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: translate(-10px, 9px);
    }
    46% {
      transform: none;
    }
    65% {
      transform: none;
    }
    68% {
      transform: translate(-7px, 5px);
    }
    71% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }
  
  
  
  @keyframes skewAnim {
    20% {
      transform: none;
    }
    23% {
      transform: skew(5deg, -5deg) translate(10px, 5px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: skew(5deg, -10deg) translate(-5px, 2px);
    }
    46% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }








  